div.recentPostContainer {
  padding: 80px 0;

  @media screen and (max-width: 767px) {
    padding: 28px 16px;
  }
  
  .postTitle {
    @include ellipsis(2);
  }

  .postDes {
    color: rgb(102, 102, 102);
    line-height: 28px;

    @include ellipsis(3);
  }

  .btnReadMore {
    color: rgb(46, 136, 252);
  }

  .lightTextColor {
    color: rgb(179, 179, 179);
  }

  .imagePost {
    object-fit: cover;
    max-height: 252px;
  }
}
